In [ ]:
#In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)
#Your task is to create a Python script that analyzes the records to calculate each of the following:

#The total number of months included in the dataset.
#The net total amount of Profit/Losses over the entire period.
#The average of the changes in Profit/Losses over the entire period.
#The greatest increase in profits (date and amount) over the entire period.
#The greatest decrease in losses (date and amount) over the entire period.

#Your resulting analysis should look similar to the following:

#Financial Analysis

#Total Months: 86
#Total: $38382578
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)
#Your final script should print the analysis to the terminal and export a text file with the results.

In [10]:
import pandas as pd
from pathlib import Path

In [185]:
csvpath = Path('C:/Users/miker/usyd-syd-virt-fin-pt-03-2021-u-c/week_2/homework/PyBank/Resources/budget_data.csv')

In [186]:
pwd

'C:\\Users\\miker\\python-homework\\PyBank'

In [187]:
df = pd.read_csv(csvpath)

In [188]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [214]:
#The total number of months included in the dataset.
months = df['Date'].count()

print (months)

86

In [215]:
#The net total amount of Profit/Losses over the entire period.
total_profit = df['Profit/Losses'].sum()

print (total_profit)

38382578

In [222]:
#The average of the changes in Profit/Losses over the entire period.
change = df['Profit/Losses'].diff(1)

average_change = change.mean()

print (average_change)

-2315.1176470588234

In [283]:
import statistics
import numpy as np

In [303]:
profit_list = list(df['Profit/Losses'])
print(profit_list)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [304]:
date_list = df['Date']
print (date_list)

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [308]:
change_list = []
counter = 0

In [319]:
for profit in range(len(df)-1):
    current = profit_list[profit]
    shift = profit_list[profit+1]
    change_list.append(shift-current)
    counter = sum(df['Profit/Losses'])
#    min_change = min(change_list)
#    max_change = max(change_list)

In [311]:
type(change_list)

list

In [318]:
len(df)

86

In [313]:
change.describe(include='all')

count    8.500000e+01
mean    -2.315118e+03
std      7.634372e+05
min     -2.196167e+06
25%     -3.686650e+05
50%      7.724200e+04
75%      3.983190e+05
max      1.926159e+06
Name: Profit/Losses, dtype: float64

In [292]:
#The greatest increase in profits (date and amount) over the entire period.
greatest_increase = change.loc[df['Profit/Losses'] == max]

print (greatest_increase)

25    1926159.0
Name: Profit/Losses, dtype: float64

In [299]:
for profit in greatest_increase:
    print(profit)

1926159.0

In [208]:
#The greatest decrease in losses (date and amount) over the entire period.
change.loc[df['Profit/Losses'] == min]

Series([], Name: Profit/Losses, dtype: float64)

In [256]:
#Print result
print ("Financial Analysis")
print ("--------------------------")
print (f"Total Months: {months}")
print (f"Total ${total_profit}")
print (f"Average  Change: ${average_change:0.2f}")
#print (f"Greatest Increase in Profits: Feb-2012 ($1926159)")
#print (f"Greatest Decrease in Profits: Sep-2013 ($-2196167)")

Financial Analysis
--------------------------
Total Months: 86
Total $38382578
Average  Change: $-2315.12

In [257]:
#Export txt file
answer_string = "Financial Analysis \n"
answer_string += "-------------------------- \n"
answer_string += f"Total Months: {months} \n"
answer_string += f"Total ${total_profit} \n"
answer_string += f"Average  Change: ${average_change:0.2f} \n"
answer_string += f"Greatest Increase in Profits: Feb-2012 ($1926159) \n"
answer_string += f"Greatest Decrease in Profits: Sep-2013 ($-2196167) \n"
with open('sample.txt', 'w') as text_file:
    text_file.write(answer_string)

#note \n is to move to next line

In [260]:
f = open("second_print_option.txt", "w")

print ("Financial Analysis", file=f)
print ("--------------------------", file=f)
print (f"Total Months: {months}", file=f)
print (f"Total ${total_profit}", file=f)
print (f"Average  Change: ${average_change:0.2f}", file=f)
#print (f"Greatest Increase in Profits: Feb-2012 ($1926159)", file=f)
#print (f"Greatest Decrease in Profits: Sep-2013 ($-2196167)", file=f)

f.close()

In [262]:
dir (pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [261]:
help (pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = 'db08276bc116c438d3fdee492026f8223584c477'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.1.3

FILE
    c:\users\miker\anaconda3\envs\dev\lib\site-packages\pandas\__init__.py