In [552]:
#In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)
#Your task is to create a Python script that analyzes the records to calculate each of the following:

#The total number of months included in the dataset.
#The net total amount of Profit/Losses over the entire period.
#The average of the changes in Profit/Losses over the entire period.
#The greatest increase in profits (date and amount) over the entire period.
#The greatest decrease in losses (date and amount) over the entire period.

#Your resulting analysis should look similar to the following:

#Financial Analysis

#Total Months: 86
#Total: $38382578
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)
#Your final script should print the analysis to the terminal and export a text file with the results.

In [553]:
import pandas as pd
from pathlib import Path
 
#import numpy as np

In [571]:
csvpath = Path('C:/Users/miker/usyd-syd-virt-fin-pt-03-2021-u-c/week_2/homework/PyBank/Resources/budget_data.csv')

In [572]:
pwd

'C:\\Users\\miker\\python-homework\\PyBank'

In [573]:
df = pd.read_csv(csvpath)

In [574]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [575]:
#The total number of months included in the dataset.
months = df['Date'].count()

print (months)

86

In [576]:
#The net total amount of Profit/Losses over the entire period.
total_profit = df['Profit/Losses'].sum()

print (total_profit)

38382578

In [577]:
#The average of the changes in Profit/Losses over the entire period.
change = df['Profit/Losses'].diff(1)

average_change = change.mean()

print (average_change)

-2315.1176470588234

In [578]:
profit_losses_list = list(df['Profit/Losses'])
date_list = df['Date']

change_list = [0]

for profit in range(len(df)-1):
    current = profit_losses_list[profit]
    shift = profit_losses_list[profit+1]
    change_list.append(shift-current)

In [579]:
len(change_list)

86

In [580]:
df['shift_col'] = change_list

In [581]:
df

        Date  Profit/Losses  shift_col
0   Jan-2010         867884          0
1   Feb-2010         984655     116771
2   Mar-2010         322013    -662642
3   Apr-2010         -69417    -391430
4   May-2010         310503     379920
..       ...            ...        ...
81  Oct-2016         102685    -665765
82  Nov-2016         795914     693229
83  Dec-2016          60988    -734926
84  Jan-2017         138230      77242
85  Feb-2017         671099     532869

[86 rows x 3 columns]

In [582]:
#The greatest increase in profits (date and amount) over the entire period.
greatest_increase = df['shift_col'].max()

print (greatest_increase)

1926159

In [583]:
#The greatest decrease in losses (date and amount) over the entire period.
greatest_decrease = df['shift_col'].min()

print (greatest_decrease)

-2196167

In [584]:
increase_month = df.loc[df["shift_col"] == greatest_increase, "Date"].item()

print (increase_month)

Feb-2012

In [585]:
decrease_month = df.loc[df["shift_col"] == greatest_decrease, "Date"].item()

print (decrease_month)

Sep-2013

In [586]:
change.describe(include='all')

count    8.500000e+01
mean    -2.315118e+03
std      7.634372e+05
min     -2.196167e+06
25%     -3.686650e+05
50%      7.724200e+04
75%      3.983190e+05
max      1.926159e+06
Name: Profit/Losses, dtype: float64

In [587]:
#Print result
print ("Financial Analysis")
print ("--------------------------")
print (f"Total Months: {months}")
print (f"Total ${total_profit}")
print (f"Average  Change: ${average_change:0.2f}")
print (f"Greatest Increase in Profits: {increase_month} (${greatest_increase:0.0f})")
print (f"Greatest Decrease in Profits: {increase_month} (${greatest_decrease:0.0f})")

Financial Analysis
--------------------------
Total Months: 86
Total $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Feb-2012 ($-2196167)

In [588]:
#Export txt file
answer_string = "Financial Analysis \n"
answer_string += "-------------------------- \n"
answer_string += f"Total Months: {months} \n"
answer_string += f"Total ${total_profit} \n"
answer_string += f"Average  Change: ${average_change:0.2f} \n"
answer_string += f"Greatest Increase in Profits: {increase_month} ${greatest_increase:0.0f} \n"
answer_string += f"Greatest Decrease in Profits: {increase_month} ${greatest_decrease:0.0f} \n"
with open('sample.txt', 'w') as text_file:
    text_file.write(answer_string)

#note \n is to move to next line

In [589]:
f = open("second_print_option.txt", "w")

print ("Financial Analysis", file=f)
print ("--------------------------", file=f)
print (f"Total Months: {months}", file=f)
print (f"Total ${total_profit}", file=f)
print (f"Average  Change: ${average_change:0.2f}", file=f)
print (f"Greatest Increase in Profits: {increase_month} ${greatest_increase:0.0f}", file=f)
print (f"Greatest Decrease in Profits: {increase_month} ${greatest_decrease:0.0f}", file=f)

f.close()